.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 50;
  border-bottom: solid 1px var(--grey);
}

.logo-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo-img {
  width: 3rem;
  height: 3rem;
}

.logo-text {
  font-family: var(--font-sans);
  font-size: 2rem;
  line-height: 2rem;
  color: #18181b;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  border-radius: 9999px;
  background-color: white;
  padding: 0.75rem 1rem; 
  gap: 2rem;           
  color: black;
  border: solid 1px rgb(196, 196, 196);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: black;
  text-decoration: none;
  font-family: var(--font-sans);
}

.nav-label {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.6s ease;
}

.nav-item:hover .nav-label {
  max-width: 100px;
}