:root { 
  --font-serif: "Source Serif 4", serif; 
  --font-sans: "Work Sans", sans-serif; 
  --white: #FFFFFF;
  --black: #000000;
  --grey: #c1c1c1;
  --strong-grey: #4c4c4c;
  --blue: #1cc2ff;
}

html {
    scroll-behavior: smooth;
}